/* Add styles for the logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
}

/* For navigation */
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
}

.navbar-list li {
  padding: 10px;
}

.navbar-list li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-list li a:hover {
  background-color: #111;
  border-radius: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #111;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 0.3s ease-in-out;
}

.sidebar.active {
  right: 0;
}

.sidebar li {
  width: 100%;
  list-style-type: none; 
}

.sidebar a {
  width: 100%;
  display: block;
  color: white; 
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #333; /* Hover background color */
  border-radius: 5px;
}

.sidebar svg {
  fill: gray; 
  margin-right: 10px; 
}


.menu-button {
  display: none;
}

@media(max-width: 800px) {
  .hideOnSmall {
      display: none;
  }

  .hideOnLarge {
      display: block;
  }

  .sidebar {
      width: 100%;
      right: -100%;
      transition: right 0.3s ease-in-out;
  }

  .menu-button {
      display: block;
  }
}

/* Global styles */
body, html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Using a similar font to ChatGPT UI */
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align content to the beginning */
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.blog {
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 14px;
  line-height: 1.6;
  text-align: left; /* Align content to the left */
}

.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-weight: bold;
  text-align: center; /* Center headings */
}

.blog p {
  margin-bottom: 20px;
}

.blog a {
  color: #007bff;
  text-decoration: none;
}

.rightcolumn {
  padding-left: 20px;
  text-align: center; /* Center headings */
}

.card {
  background-color: rgb(22, 22, 22);
  padding: 20px;
  margin-top: 20px;
  color: azure;
}

.card a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
  }
}

/* For Footer */
.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.footer-sitemap ul li {
  display: inline;
  float: left;
}

.footer-sitemap li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer-sitemap li a:hover {
  background-color: #111;
  border-radius: 5px;
}

.footer-icons ul li {
  display: inline;
  float: left;
}

.footer-icons li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.footer-icons li a:hover {
  background-color:#111;
  border-radius: 3px;
}

.footer-text  li {
  display: inline;
  float: left;
}

.footer-text  {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
